*{
	box-sizing: border-box;
	color: rgb(255, 255, 255);
}

body{
	background-color: rgb(0, 0, 0);
	min-width: 320px;
}

header {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: rgba(0, 0, 0);
	position: fixed;
	left: 0em;
	top: 0em;
}

#header-img {
	width: 80px;
	height: auto;
	position: relative;
	left: 30px;
}

#nav-bar {
	display: inline-block;
	padding: 0px;
}

ul, a {
	display: inline-block;
	margin: 0px;
	padding: 0px;
	color: rgb(255, 255, 255);
	text-decoration: none;
}

.nav-l{
	color: rgb(255, 255, 255);
	display: inline-block;
	padding: 10px 30px 10px 30px;
	margin: 0px;
	border-right: 2px solid rgba(175, 171, 172, 0.5);
}

li:last-child{
	border: none;
}

#temp {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 260px;
}

h1{
margin-bottom: 20px;
}

#form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

input {
	margin-bottom: 15px;
}

input[type=email] {
  width: 250px;
  height: 28px;
  padding: 5px;
  border: 1px solid rgb(199, 199, 199);
}

.btn {
	background-color: rgb(189, 0, 0);
	width: 150px;
	height: 28px;
	border-radius: 4px;
	border: none;
	font-size: 1em;
	font-weight: bold;
}

.row{
	width: 70%;
	margin: 10px auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.icon-div {
	width: 20%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.icon {
	width: 60px;
	height: auto;
}

.info {
	width: 70%;
	padding: 10px;
}

#frame {
	display: flex;
	margin-top: 30px;
	justify-content: center;
}

#price-div {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 20px;
}

h3 {
	padding: 10px;
	background-color: rgba(235, 33, 33, 0.79);
	margin-top: 0px;
}
.price {
	width: 25%;
	height: 300px;
	border: 1px solid rgb(255, 255, 255);
	text-align: center;
	margin: 10px;
}
.text-prices {

	margin: 30px;
}

#footer-options {
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding: 8px;
	margin: 20px auto;
	border-top: 2px solid rgba(255, 255, 255, 0.22);
}
#footer-options > ul > li {
	display: inline;
	margin-left: 20px;


}
@media screen and (max-width: 767px) {
	header {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	#header-img {
		width: 80px;
		height: auto;
		position: relative;
		left: 0px;
	}
	.nav-link {
		display: flex;
		color: rgb(255, 255, 255);
		flex-direction: column;
		justify-content: center;
		text-align: center;
		padding: 2px;
		border: none;
	}
	#temp {
		align-items: center;
		justify-content: flex-end;
		height: 320px;
	}

	.row{
		width: 100%;
		margin: 10px auto;
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	.icon-div {
		display: none;
	}
	.info {
		width: 100%;
		padding: 10px;
		text-align: center;
	}

	#price-div {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.price {
		min-width: 300px;
		height: 280px;
		border: 2px solid rgb(255, 255, 255);
		text-align: center;
		margin: 10px;
	}
}
